#wrap{zoom:1;}
.wrap_in{height:694px;}
.snb_in{margin-top:23px;zoom:1;}
.snb_in p{margin-top:-1px;}

.ma02_ul{zoom:1;}
#content{height:477px;}
.int06{height:167px;}

.cmm06{height:100px;}
.bb02{height:37px;}
.cmm02_in{padding-top:7px;}

.bb02_info li{zoom:1;float:left;}
.bb02_info li span{zoom:1;}

.bb02_info li span.evt_ing{background-position:right 3px;}
.bb02_info li span.evt_end{background-position:right 3px;}

.evt01_ul li{zoom:1;}

.bb02_conet_ques{height:20px;}
.bb02_conet_ques h3{padding-bottom:2px;}
.bb02_conet_answer{height:20px;}
.bb02_conet_answer h3{padding-bottom:2px;}

.int02_3{height:300px;}
