.snb_in{margin-top:23px;}
.snb_in p{margin-top:-1px;}

.bb02_info li{zoom:1;float:left;}
.bb02_info li span{zoom:1;}

.bb02_info li span.evt_ing{background-position:right 3px;}
.bb02_info li span.evt_end{background-position:right 3px;}
