.bb02_tb td em.thm{top:-2px;}
.bb02_tb td img.noti{position:relative;top:-2px;}
.bb02_info li .img01{position:relative;top:-1px;}
.cmm08{height:32px;}
.mem01_chbx label{position:relative;top:2px;}
.mem02 .pz01,
.mem02 .pz02{top:16px;}
.mem04_1{top:85px;}
.mem04_2{top:110px;}
.mem05_1,
.mem05_2,
.mem06_1,
.mem06_2,
.mem06_3,
.mem08_1,
.mem10_1,
.mem10_2{top:16px;}

