.wrap_in{height:100%;}
.ma02_sect{zoom:1;}
.ma02_1_1_list dd{zoom:1;}
.ma02_5_1 li{background-image:url("/images/common/bg/bg_02_ie6.gif");}
.ma02_5_1 .pic{top:0px;}
#footer .ft01 ul{zoom:1;}
#content{height:400px;}
.snb{height:400px;}
.path{zoom:1;}
.bbs01_v_1{height:303px;}
.bbs01_v_1 .profile .list li{zoom:1;}
.bbs01_v_2 .go_club{top:29px;}
.bbs02_w_tb tr{height:27px;}
.bbs02{height:30px;}
.bbs02_tb td .t_urgent{width:10px;}
.bbs02_tb thead tr{height:29px;}
.bbs02_tb tbody tr{height:26px;}
.bbs02_tb td{padding:3px 0 2px;}
.bbsFiles{zoom:1;}
.mem02_cn{zoom:1;}
.mem03{margin-top:0px;}
.mem06{zoom:1;}
.mem09_01 .cont p{zoom:1;}
.cnt01_2 dt{zoom:1;}
